<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target='#<%= "#{itens.first.my_title}" %>_id' aria-expanded="true" aria-controls='<%= "#{itens.first.my_title}" %>_id' style='text-decoration: none;'>
          <h5 class="card-title">

            <% if itens.first.my_title == 'personal_infos'%>
              <svg class="bi bi-people-circle" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 008 15a6.987 6.987 0 005.468-2.63z"/>
                <path fill-rule="evenodd" d="M8 9a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd"/>
                <path fill-rule="evenodd" d="M8 1a7 7 0 100 14A7 7 0 008 1zM0 8a8 8 0 1116 0A8 8 0 010 8z" clip-rule="evenodd"/>
              </svg>
            <% elsif itens.first.my_title == 'academics'%>
              <svg class="bi bi-book" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M3.214 1.072C4.813.752 6.916.71 8.354 2.146A.5.5 0 018.5 2.5v11a.5.5 0 01-.854.354c-.843-.844-2.115-1.059-3.47-.92-1.344.14-2.66.617-3.452 1.013A.5.5 0 010 13.5v-11a.5.5 0 01.276-.447L.5 2.5l-.224-.447.002-.001.004-.002.013-.006a5.017 5.017 0 01.22-.103 12.958 12.958 0 012.7-.869zM1 2.82v9.908c.846-.343 1.944-.672 3.074-.788 1.143-.118 2.387-.023 3.426.56V2.718c-1.063-.929-2.631-.956-4.09-.664A11.958 11.958 0 001 2.82z" clip-rule="evenodd"/>
                <path fill-rule="evenodd" d="M12.786 1.072C11.188.752 9.084.71 7.646 2.146A.5.5 0 007.5 2.5v11a.5.5 0 00.854.354c.843-.844 2.115-1.059 3.47-.92 1.344.14 2.66.617 3.452 1.013A.5.5 0 0016 13.5v-11a.5.5 0 00-.276-.447L15.5 2.5l.224-.447-.002-.001-.004-.002-.013-.006-.047-.023a12.582 12.582 0 00-.799-.34 12.96 12.96 0 00-2.073-.609zM15 2.82v9.908c-.846-.343-1.944-.672-3.074-.788-1.143-.118-2.387-.023-3.426.56V2.718c1.063-.929 2.631-.956 4.09-.664A11.956 11.956 0 0115 2.82z" clip-rule="evenodd"/>
              </svg>
            <% else %>
              <svg class="bi bi-award" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M9.669.864L8 0 6.331.864l-1.858.282-.842 1.68-1.337 1.32L2.6 6l-.306 1.854 1.337 1.32.842 1.68 1.858.282L8 12l1.669-.864 1.858-.282.842-1.68 1.337-1.32L13.4 6l.306-1.854-1.337-1.32-.842-1.68L9.669.864zm1.196 1.193l-1.51-.229L8 1.126l-1.355.702-1.51.229-.684 1.365-1.086 1.072L3.614 6l-.25 1.506 1.087 1.072.684 1.365 1.51.229L8 10.874l1.356-.702 1.509-.229.684-1.365 1.086-1.072L12.387 6l.248-1.506-1.086-1.072-.684-1.365z" clip-rule="evenodd"/>
                <path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1 4 11.794z"/>
              </svg>
            <% end %>

            <%= t((itens.first.my_title )).capitalize %>
          </h5>
        </button>
      </h5>
    </div>


    <div id='<%= "#{itens.first.my_title}" %>_id' class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">


       <div class="card-body">

        <p>
          <% if signed_in? && !(current_page?(root_path))%>
            <%= link_to "Editar #{t(itens.first.my_title)}", "#{itens.first.my_title}", class:"btn btn-primary" %>
          <% end %>
        </p>

        <% itens.each_with_index  do |item, index| %>

          
              <% @result_temp = index%@pallet_size %>
              <%= content_tag :div, class: "card text-white", style: "background-color: #{@colors[@result_temp]}; width: auto;" do%>
                <div class="card-body mx-auto d-flex">
                    
          
                
                    <div class="text-wrap text-left" style="width: content; font-size: 1.2em">
                      
                      

                      <% temp_item = item.attributes.to_a %>
                      <% temp_item.shift%>

                      <% temp_item.slice!(temp_item.map {|k,v| k}.index('updated_at'))%>
                      <% temp_item.slice!(temp_item.map {|k,v| k}.index('created_at'))%>
                      

                      <% temp_item.each do |field| %>
                        <p style='font-size: 0.9em;'>
                        
                        <!-- aqui itens  [0,1] => [k,v]-->
                          
                          <b><%= t(field[0]).capitalize %></b>

                          <% if field[0] == 'social' || field[0] == 'certificate' %>
                            <a style="color:white" href='<%= field[1]%>'><%= field[1]%></a>
                          <% else %>
                            <%= field[1]%>
                          <% end %>

                        </p>
                      <% end %>
                    
                    </div>

                </div>
              <% end %>

        <% end %>


      </div>

  </div>
</div>
